# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.venv
venv/
ENV/

# JetBrains IDEs
.idea/
*.iml
*.iws
*.ipr
.idea_modules/
out/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Dataset folders
data/
dataset/
datasets/
battery_alt_dataset/
**/battery_alt_dataset/

# Visual Studio Code
.vscode/
*.code-workspace
.history/

# Logs
logs/
*.log

# Local configuration
local_settings.py
db.sqlite3
db.sqlite3-journal

battery_alt_dataset.zip
